# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 47c2d36eaa93345ce44aa0f9a556de9398cde63ea9483313a219c59eec4e976c0a1337a84bc9369d471c6db26fb0f2b9ec36e791327ae23b72e4e53ec1fece71

test:
  secret_key_base: 2382a14555e02f16ea6270f4e6e8dd5b320e5b7fa8fee6a779075b234db00bb3754129044aae1e69042c504d8a99c4a1071abef42f3d55f26b5ef4679224dbfc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
